################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Han_Scrum/obj/Debug
/Han_Scrum/bin/Debug
/.vs/Han_Scrum
/.vs/Han_Scrum/v17
